form{
	margin: 0 auto;
	width:40%;
	display:flex;
	flex-flow: column;
	background: orange;
	border-radius: 9px;
	padding:25px;
	box-sizing: border-box;
}


input{
	margin:10px;
	padding:6px;
}

#submit{
	background: lightgreen;
	font-weight: bolder;
	font-size: 20px;
	text-transform: uppercase;
	padding:16px;
	border-radius: 9px;
}

.valid{
	border: 2px solid green;
}

.invalid{
	border: 2px solid red;

}